/* You can add global styles to this file, and also import other style files */
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
  }

a.active {
    border-left: 2px solid rgb(7, 151, 62);
}

.middle-block {
   height: 33px;
}